{% extends 'base.html.twig' %}
{% block body %}
    <div class="account-info">
        <div
            class="wrapper">
            <!-- Sidebar  -->
            <nav class="sidebar">
                <button class="btn close-btn sidebarCollapse">
                    <i class="fas fa-times"></i>
                </button>
                <div class="sidebar-header text-center">
                    <a href="/dashboard"><img alt="" src="{{ asset('images/logo.svg') }}"></a>
                </div>
                <ul class="list-unstyled components">
                    <li>
                        <a href="/dashboard">My Dashboard</a>
                    </li>
                    <li>
                        <a aria-expanded="false" data-toggle="collapse" href="#pageSubmenu">Job search</a>
                        <ul class="collapse list-unstyled " id="pageSubmenu">
                            <li>
                                <a href="/jobsitestosearch">Job Sites to Search</a>
                            </li>
                            <li>
                                <a href="/savedappliedjobs">Saved/Applied Jobs</a>
                            </li>
        
                            <li>
                                <a href="/savedsearches">Saved Searches</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a aria-expanded="false" data-toggle="collapse" href="#pageSubmenu1">My Documents</a>
                        <ul class="collapse list-unstyled " id="pageSubmenu1">
                            <li>
                                <a href="/documents">Curriculum Vitae</a>
                            </li>
                            <li>
                                <a href="/coverletter">Cover Letter</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="/mytask">My Tasks</a>
                    </li>
                    <li>
                        <a href="/logout">LogOut</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div class="content">
                <nav class="dashboard-nav navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-info sidebarCollapse">
                                <i class="fas fa-bars"></i>
                            </button>
                            <ul class="sidetop ml-auto">
                                <li class="active">
                                    <a href="#">HELP</a>
                                </li>
                                <li>
                                    <a href="/accountinfo">SETTINGS</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <div class="avtar"><img src="images/avatar.png" alt=""></div>


                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Settings</a>
                    </li>
                    <li>Account Info</li>
                </ul>
                <ul class="links_search">
                    <li class="active">
                        <a href="#">Account Info</a>
                    </li>
                    <li>
                        <a href="/subscription">Subscription</a>
                    </li>
                    <li>
                        <a href="#">Invoices</a>
                    </li>
                </ul>
                <div class="wrapper-account">
                    <div class="container-fluid">

                        {{ form_start(Form, {'method': 'post', 'action': path('accountinfo'), 'attr': {'class': 'cst-form2'}}) }}
                        <div class="row form-group align-items-center">

                            {{ form_label(Form.firstname, 'First Name', {
    'label_attr': {'class': 'col-sm-3'}
}, disab) }}

                            <div class="col-sm-7 ">
                                {{ form_widget(Form.firstname, {'attr': {'class': 'form-control', 'disabled': true, 'autofocus':'autofocus'}}) }}
                            </div>
                        </div>
                        <div class="row form-group align-items-center">

                            {{ form_label(Form.lastname, 'Last Name', {
    'label_attr': {'class': 'col-sm-3'}
}) }}

                            <div class="col-sm-7 ">
                                {{ form_widget(Form.lastname, {'attr': {'class': 'form-control', 'disabled': true}}) }}
                            </div>

                        </div>
                        <div class="row form-group align-items-center">

                            {{ form_label(Form.email, 'Email', {
    'label_attr': {'class': 'col-sm-3'}
}) }}

                            <div class="col-sm-7 ">
                                {{ form_widget(Form.email, {'attr': {'class': 'form-control', 'disabled': true}}) }}
                            </div>

                        </div>

                        <div class="row form-group align-items-center">

                            {{ form_label(Form.plainPassword, 'Password', {
    'label_attr': {'class': 'col-sm-3'}
}) }}

                            <div class="col-sm-7 ">
                                {{ form_widget(Form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': '●●●●●●●', 'disabled': true}}) }}
                            </div>

                        </div>

                        <div class="row form-group align-items-center">

                            {{ form_label(Form.dob, 'Birthday', {
    'label_attr': {'class': 'col-sm-3'}
}) }}

                            <div class="col-sm-7 ">
                                {{ form_widget(Form.dob, {'attr': {'class': 'form-control', 'disabled': true}}) }}
                            </div>

                        </div>


                        <div align="center" class="col-sm-12">
                            <div class="text-center pt-115">
                                <button class="btn btn-form " id="update" style=" color: #ffffff;  display: none;">
                                    UPDATE</a>
                            </button>
                        </div>
                    </div>
                    {{ form_end(Form) }}
                    <div style="max-width:794px; padding-top:0px;">
                        <div align="center" class="col-sm-12" style="padding-top:0px;">
                            <div class="text-center pt-115" style="padding-top:0px;">
                                <button class="btn btn-form" data-backdrop="static" data-keyboard="false" data-target="#reminder" data-toggle="modal" id="edit" style="color: #ffffff;">EDIT</a>
                            </button>
                        </div>
                    </div>
                </div>


                <br>
                <br>
            </div>
        </div>
        {# modal #}
        <div aria-hidden="true" aria-labelledby="reminder" class="modal fade" id="reminder" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div align="center" class="modal-header">
                        <h4>
                            Enter Your Password
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="images/close2.svg" alt=""></span> </button>

                    </div>
                    <div class="modal-body">
                    <br>
                    <br>

                        <div class="position-relative form-group">
                            <input class="form-control password-custom" id="inputPassword" name="password" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please fill in your password')" placeholder="Password" required type="password" >
                            
                        </div>

                    </div>
                    <div align="center">
                    <p class="message"></p>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" id = "submitBtn">Submit
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   

<script>
$("#submitBtn").click("submit", function (e) {
    e.preventDefault();
    var password = $("#inputPassword").val();
    var modal = $("#reminder");
    modal.find('.message').hide();
    
    var email = password;
$.ajax({
                url: "{{ path('accountinfoedit') }}",
                type: 'POST',
                data: {
                    email: email
                },
                success: function (res) {
    
                    if(res == "Authentication Succesful"){
$('.data-backdrop').remove();
$('.data-keyboard').remove();
$('#reminder').modal('hide');
                    }
                    else{

                        $('.data-backdrop').add();
$('.data-keyboard').add();
$('#reminder').modal('show');
                        

                        modal.find('.message').show();
                        modal.find('.message').html(res);


                    }


                    

                    
                    
                  
                    
                    


                }
            });
    
   

  
    
    
});
{# modal.data("modal").options) {
    backdrop = true;
    keyboard = true;
} #}
</script>

<script>
$(document).ready(function(){
   var modal = $("#reminder");
    modal.find('.close').click(function(){
  $("#update").hide();
$("#edit").show();

$("input").prop('disabled', true);


    }
    );
});

</script>


{% endblock %}
