{% extends 'base.html.twig' %}
{% block body %}

    <div>
        <div
            class="wrapper">
            <!-- Sidebar  -->
            <nav class="sidebar">
                <button class="btn close-btn sidebarCollapse">
                    <i class="fas fa-times"></i>
                </button>
                <div class="sidebar-header text-center">
                    <img alt="" src="images/logo.svg">
                </div>
                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="dashboard">My Dashboard</a>
                    </li>
                    <li>
                        <a aria-expanded="false" data-toggle="collapse" href="#pageSubmenu">Job search</a>
                        <ul class="collapse list-unstyled " id="pageSubmenu">
                            <li>
                                <a href="/jobsitestosearch">Job Sites to Search</a>
                            </li>
                            <li>
                                <a href="/savedappliedjobs">Saved/Applied Jobs</a>
                            </li>
                            <li>
                                <a href="/joblisting">Job Listing</a>
                            </li>
                            <li>
                                <a href="/savedsearches">Saved Searches</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/documents">My documents</a>
                    </li>
                    <li>
                        <a href="/mytask">My Tasks</a>
                    </li>
                    <li>
                        <a href="/logout">LogOut</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div class="content">
                <nav class="dashboard-nav navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-info sidebarCollapse">
                                <i class="fas fa-bars"></i>
                            </button>
                            <ul class="sidetop ml-auto">
                                <li class="active">
                                    <a href="#">HELP</a>
                                </li>
                                <li>
                                    <a href="/accountinfo">SETTINGS</a>
                                </li>
                                <li>
                                    <a href="#" id="navbardrop"><img alt="" src="images/avatar.png">

                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="over-wrapper">
                    <div class="container-fluid">
                        <ul class="dashboard-review">
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        {{ savedjobscount }}
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="images/dots.svg">
                                    </span>
                                </div>
                                <h3>Saved Jobs</h3>
                            </li>
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        {{ appliedjobscount }}
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="images/dots.svg">
                                    </span>
                                </div>
                                <h3>Applied</h3>
                            </li>
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        {{ followupjobscount }}
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="images/dots.svg">
                                    </span>
                                </div>
                                <h3>Follow-up</h3>
                            </li>
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        {{ interviewjobscount }}
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="images/dots.svg">
                                    </span>
                                </div>
                                <h3>Interviews</h3>
                            </li>
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        {{ postinterviewjobscount }}
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="images/dots.svg">
                                    </span>
                                </div>
                                <h3>Post Interview Follow-up</h3>
                            </li>
                        </ul>
                    </div>


                    <!--Card Dashboard-->
                    <div class="container-fluid">
                        <div class="jb-main">
                            <div class=" fl1">
                                <div class="card-main card1">
                                    <div class="card_title">
                                        <h3>Saved/Applied Jobs</h3>
                                    </div>
                                    <div class="content-card row no-gutters">
                                        <div class="col-4">
                                            <h4>
                                                Title</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4>Company</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4>Saved/Applied</h4>
                                        </div>
                                    </div>
                                    <div class="row no-gutters c-shadow">
                                        {% for job in jobs| slice(0,3) %}
                                            <div class="col-4">
                                                <p class="title-txt">
                                                    {{ job.title }}</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="c-name">{{ job.comapnyName}}</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="s-date">
                                                    {{ job.dateSaved|date('d-m-Y') }}
                                                    <img alt="" src="images/dots-line.svg">
                                                </p>
                                            </div>
                                            <div align="center">
                                          
                                            </div>
                                            
                                        {% endfor %}
                                        
                                    </div>

                                
                                <div class="text-center mt-41">
                                    <a class="btn-Links " href="/savedappliedjobs">View all
                                        <img alt="" src="images/arrow-down.svg"></a>
                                </div>
                                <div class="text-right">
                                    <a class="plus-more" href="/savedappliedjobs"><img alt="" src="images/plus.svg"></a>
                                </div>
                            </div>
                        </div>
                        <div class=" fl2">
                            <div class="card2 card-main">
                                <div class="card_title">
                                    <h3>Reminders</h3>
                                </div>
                                <div class="content-card row no-gutters">

                                    <div class="col-4">
                                        <h4><img alt="" src="images/task.svg">
                                            Task</h4>
                                    </div>
                                    <div class="col-4">
                                        <h4><img alt="" src="images/portfolio.svg">
                                            Job</h4>
                                    </div>
                                    <div class="col-4">
                                        <h4><img alt="" src="images/deadline.svg">
                                            Due date</h4>
                                    </div>

                                </div>
                                <div class="row no-gutters c-shadow">
                                    {% for task in tasks| slice(0,3) %}
                                        <div class="col-4">
                                            <p class="title-txt">{{ task.name }}</p>
                                        </div>
                                        <div class="col-4">
                                            <p class="c-name">
                                                <span class="elipse"></span>
                                                {{ task.toName }}</p>
                                        </div>
                                        <div class="col-4">
                                            <p class="s-date">
                                                <span class="elipse"></span>
                                                {{ task.dueDate|date('d-m-Y') }}<img alt="" src="images/dots-line.svg">
                                            </p>
                                        </div>
                                        <div align="center">
                                            </div>
                                    {% endfor %}

                                </div>
                                <div class="text-center mt-41">
                                    <a class="btn-Links " href="/mytask">View all
                                        <img alt="" src="images/arrow-down.svg"></a>
                                </div>
                                <div class="text-right">
                                    <a class="plus-more" href="/mytask"><img alt="" src="images/plus.svg"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div aria-hidden="true" aria-labelledby="reminder" class="modal fade" id="reminder" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>
                                        <i class="fas fa-chevron-left"></i>
                                        Reminder
                                        <i class="fas fa-chevron-right"></i>
                                    </h4>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true"><img alt="" src="images/close2.svg"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h3>Send Thank You Letter</h3>
                                    <div class="cc-text">
                                        <p>
                                            <span>To:</span>Scott Jansen</p>
                                        <p>
                                            <span>@</span>Merrill Lynch</p>
                                    </div>
                                    <div class="d-time">
                                        <span>Due Date:</span>
                                        <p>Wednesday, May 1st</p>
                                    </div>
                                    <div class="relative status">
                                        <select class="form-control " id="" name="">
                                            <option value="">Status</option>
                                        </select>
                                        <i class="t-f r-0"><img alt="" src="images/select.svg"></i>
                                    </div>
                                    <div class="inner_modal">
                                        <div class="media">
                                            <h4>Completed Date</h4>
                                            <div class="media-body">
                                                <div class="input-group">
                                                    <input aria-describedby="basic-addon2" aria-label="Recipient's username" class="form-control" type="text" value="Today">
                                                    <div class="input-group-append">
                                                        <i class="fas fa-calendar-alt"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <h4>Email
                                                                      Template</h4>
                                            <div class="media-body">
                                                <div class="relative">
                                                    <select class="form-control" id="" name="">
                                                        <option value="">Email Templates</option>
                                                    </select>
                                                    <i class="t-f"><img alt="" src="images/select2.svg"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <textarea class="form-control" cols="30" id="" name="" rows="10">Notes</textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="button">Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
