{% extends 'base.html.twig' %}
{% block body %}
    <div class="account-info">
        <div
            class="wrapper">
            <!-- Sidebar  -->
            <nav class="sidebar">
                <button class="btn close-btn sidebarCollapse">
                    <i class="fas fa-times"></i>
                </button>
                <div class="sidebar-header text-center">
                    <img alt="" src="images/logo.svg">
                </div>
                <ul class="list-unstyled components">
                    <li>
                        <a href="/dashboard">My Dashboard</a>
                    </li>
                    <li>
                        <a aria-expanded="false" data-toggle="collapse" href="#pageSubmenu">Job search</a>
                        <ul class="collapse list-unstyled " id="pageSubmenu">
                            <li>
                                <a href="/jobsitestosearch">Job Sites to Search</a>
                            </li>
                            <li>
                                <a href="/savedappliedjobs">Saved/Applied Jobs</a>
                            </li>
                            <li>
                                <a href="/joblisting">Job Listing</a>
                            </li>
                            <li>
                                <a href="/savedsearches">Saved Searches</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="/documents">My documents</a>
                    </li>
                    <li>
                        <a href="/mytask">My Tasks</a>
                    </li>
                    <li>
                        <a href="/logout">LogOut</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div class="content">
                <nav class="dashboard-nav navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-info sidebarCollapse">
                                <i class="fas fa-bars"></i>
                            </button>
                            <ul class="sidetop ml-auto">
                                <li class="active">
                                    <a href="#">HELP</a>
                                </li>
                                <li>
                                    <a href="/accountinfo">SETTINGS</a>
                                </li>
                                <li>
                                    <a href="#" id="navbardrop"><img alt="" src="images/avatar.png">

                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>


                <div class="wrapper-account">
                    <div class="container-fluid">
                        <div class="row no-gutters  mt-91">
                            <div class="col-md-10">
                                <div class="cards">
                                    <div class="card_header">
                                        <h3><img alt="" src="images/folder.svg">CV</h3>
                                        <a href="#"><img alt="" src="images/dots-line.svg"></a>
                                    </div>
                                    <div class="card_body">
                                        <div class="card-search">
                                            {% for files in uploadedFiles %}
                                                <div class="media docmedia"><form action="{{ path('updatefile', { 'id' : files.id }) }}" id="myfileform" method="post">
                                                    <div class="input-top">
                                                        <input class="form-control docinput" disabled="true" type="text" value=" {{ files.name }} " name="filename">
                                                        <button type="submit" id="search_submit" style="border:none; display: none;" ><img alt="" src="images/check-circle.svg"></button>

                                                    </div>
                                                    </form>
                                                    <div class="action doc">
                                                    <a href="#" id="edit">
                                                        <i class="fas fa-pen"></i>
                                                    </a>
                                                   
                                                    <a href="{{ path('documentdownload', {'id' : files.id }) }}">
                                                        <i class="fas fa-cloud-download-alt"></i>
                                                    </a>
                                                    <a href="{{ path('deletefile', { 'id' : files.id }) }}">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            
                                        {% endfor %}
                                    </div>
                                    {{ form_start(form, {'attr': {'id': 'form'}}) }}
                                    <div class="text-right">
                                        <a class="add"><img alt="" src="images/plus.svg">{{ form_widget(form.name, {'attr': {'class': 'checkbox-style', 'accept': '.pdf, .doc'}}) }}</a>
                                    </div>


                                    <div align="center" id="hidebutton">
                                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                                    </div>
                                    {{ form_end(form) }}

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters ">
                        <div class="col-md-10">
                            <div class="cards">
                                <div class="card_header">
                                    <h3><img alt="" src="images/folder.svg">Cover letter</h3>
                                    <a href="#"><img alt="" src="images/dots-line.svg"></a>
                                </div>
                                <div class="card_body">
                                    <div class="card-search">
                                            {% for cvfiles in cvuploadedFiles %}
                                                <div class="media docmedia"><form action="{{ path('updatefile', { 'id' : cvfiles.id }) }}" id="myfileform" method="post">
                                                    <div class="input-top">
                                                        <input class="form-control docinput" disabled="true" type="text" value=" {{ cvfiles.name }} " name="filename">
                                                        <button type="submit" id="search_submit" style="border:none;  display: none;" ><img alt="" src="images/check-circle.svg"></button>

                                                    </div>
                                                    </form>
                                                    <div class="action doc">
                                                    <a href="#" id="edit">
                                                        <i class="fas fa-pen"></i>
                                                    </a>
                                                    
                                                    <a href="{{ path('cvdocumentdownload', {'id' : cvfiles.id }) }}">
                                                        <i class="fas fa-cloud-download-alt"></i>
                                                    </a>
                                                    <a href="{{ path('cvdeletefile', { 'id' : cvfiles.id }) }}">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            
                                        {% endfor %}
                                    </div>
                                    {{ form_start(cvform, {'attr': {'id': 'cvform'}}) }}
                                    <div class="text-right">
                                        <a class="add"><img alt="" src="images/plus.svg">{{ form_widget(cvform.name, {'attr': {'class': 'checkbox-style', 'accept': '.pdf, .doc'}}) }}</a>
                                    </div>


                                    <div align="center" id="hidebutton2">
                                        {{ form_widget(cvform.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                                    </div>
                                    {{ form_end(cvform) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    $(document).ready(function () {
        $("#hidebutton").hide();
        $("#hidebutton2").hide();
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            alert('The file "' + fileName + '" has been selected.');

document.getElementById('form').submit();
            

        });
    });
    
</script>

<script>
    $(document).ready(function () {
        $("#hidebutton").hide();
        $("#hidebutton2").hide();
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            alert('The file "' + fileName + '" has been selected.');

            document.getElementById('cvform').submit();

        });
    });
    
</script>

<script>
$(document).ready(function(){

  var action =$(".action");
  $(this).find("#edit").click(function(){
    $(this).find("input").prop('disabled', false);
    $(this).find("#edit").hide();
    $("#search_submit").css("display", "block");
  });
});



</script>




{% endblock %}
