{% extends 'base.html.twig' %}

{% block body %}

<div>
<!--Header Start--> 
<!--Header Start-->
<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg pi-140"> <a class="navbar-brand" href="#"><img src="{{ asset('images/logo.svg') }}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Blog</a></li>
          <li class="active"><a href="#">Contact Us</a></li>
        </ul>
        <div class="link_login"> <a href="/login">Login</a> <a href="/register" class="signup">Sign Up</a> </div>
      </div>
    </nav>
  </div>
</header>
<!--Header End--> 
<!--Header End--> 
<!--Section Inner Main Start-->
<section class="content-main payment-form">
  <div class="container-fluid">
    <div class="pi-140">
      <h3 class="title">Welcome</h3>
      <div class="w-message">
 <div class="text-center pt-115">
      <p>Enter your email address and we'll send you instructions for resetting your password if your email exists in our system.</p>
    {{ form_start(form) }}
    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
    
    {{ form_row(form.send, {'attr': {'class': 'btn-primary','label': 'Send Reset Instructions'}}) }}
    {{ form_end(form) }}
    </div>
        </div>
    </div>
  </div>
</section>
<!--Section Inner Main End--> 
<!--Footer Start-->
<footer>
  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="sub-w">
            <p>Subscribe to Altogethr via Email</p>
            <p>Get job search tips and advice. We promise we won’t spam you.</p>
            <form action="">
              <div class="input-group ">
                <input type="text" class="form-control" placeholder="Recipient's username"
                                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button typ="submit" class="btn btn-form">SUBSCRIBE</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-9">
          <div class="footer-qlinks">
            <ul class="footer-link">
              <li><a href="mailto:INFO@ALTOGETHR.COM">INFO@ALTOGETHR.COM</a></li>
            </ul>
            <ul class="footer-link">
              <li><a href="#">CONTACT US</a></li>
              <li><a href="#">PRICING</a></li>
              <li><a href="#">HOW DOES IT WORK</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
            <ul class="footer-link">
              <li><a href="#">ABOUT ALTOGETHR</a></li>
              <li><a href="#">PRIVACY POLICY</a></li>
              <li><a href="#"> TERMS & CONDITIONS</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-social">
    <div class="container-fluid">
      <div class="foter-l"> <a href="#"><img src="{{ asset('images/logo.svg') }}" alt=""></a>
        <ul class="footer-social">
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fas fa-globe-africa"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--Footer End--> 
<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script src="js/jquery-3.2.1.slim.min.js"></script> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
</div>
    
{% endblock %}