{% extends 'base.html.twig' %}
{% block body %}
    <div class="saved-jobs">
        <div
            class="wrapper">
            <!-- Sidebar  -->
            <nav class="sidebar">
                <button class="btn close-btn sidebarCollapse">
                    <i class="fas fa-times"></i>
                </button>
                <div class="sidebar-header text-center">
                    <img alt="" src="images/logo.svg">
                </div>
                <ul class="list-unstyled components">
                    <li>
                        <a href="dashboard">My Dashboard</a>
                    </li>
                    <li>
                        <a aria-expanded="true" data-toggle="collapse" href="#pageSubmenu">Job search</a>
                        <ul class="collapse list-unstyled show" id="pageSubmenu">
                            <li>
                                <a href="/jobsitestosearch">Job Sites to Search</a>
                            </li>
                            <li class="active">
                                <a href="/savedappliedjobs">Saved/Applied Jobs</a>
                            </li>
                            <li>
                                <a href="/joblisting">Job Listing</a>
                            </li>
                            <li>
                                <a href="/savedsearches">Saved Searches</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/documents">My documents</a>
                    </li>
                    <li>
                        <a href="/mytask">My Tasks</a>
                    </li>
                    <li>
                        <a href="/logout">LogOut</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div class="content">
                <nav class="dashboard-nav navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-info sidebarCollapse">
                                <i class="fas fa-bars"></i>
                            </button>
                            <ul class="sidetop ml-auto">
                                <li class="active">
                                    <a href="#">HELP</a>
                                </li>
                                <li>
                                    <a href="/accountinfo">SETTINGS</a>
                                </li>
                                <li>
                                    <a href="#" id="navbardrop"><img alt="" src="images/avatar.png">

                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <ul class="links_search">
                    <li>
                        <a href="/jobsitestosearch">Job Sites to Search</a>
                    </li>
                    <li class="active">
                        <a href="/savedappliedjobs">Saved/Applied Jobs</a>
                    </li>
                    <li>
                        <a href="/joblisting">Job Listing</a>
                    </li>
                    <li>
                        <a href="/savedsearches">Saved Searches</a>
                    </li>
                </ul>
                <div class="serch-wrapper ">
                    <form action="/savedappliedaction" class="s-link ">
                        <div class="row align-items-center no-gutters">
                            <div class="col-xl-2">
                                <label for="">Add new Job</label>
                            </div>
                            <div class="col-xl-8">
                                <input class="form-control" id="emailId" placeholder="www.linkedin.com/job/merrilllynch/010" type="text">
                            </div>
                            <div class="col-xl-2">
                                <div class="relative">
                                    <select class="form-control" id="" name="">
                                        <option value="">Saved</option>
                                    </select>
                                    <i class="t-f r-0"><img alt="" src="images/select.svg"></i>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-search" data-target="#add-jobs" data-toggle="modal" id="submitBtn">Add Job
                            </button>
                        </div>
                    </form>
                    <br>
                    <br>
                    {{ form_start(form) }}

                    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.comapnyName, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.location, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.uri, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form._token) }}
                    <div class="text-center">
                        <button class="btn btn-search">Save Job
                        </button>
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                    <br>
                    <br>
                    <ul class="filter">
                        <li>
                            <h3>Filters:</h3>
                        </li>
                        <li>
                            <div class="check">
                                <input checked="" class="checkbox-style" id="checkbox-1" name="checkbox-10" type="checkbox">
                                <label class="checkbox-style-3-label" for="checkbox-1">
                                    Saved
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="check">
                                <input checked="" class="checkbox-style" id="checkbox-2" name="checkbox-10" type="checkbox">
                                <label class="checkbox-style-3-label" for="checkbox-2">
                                    Applied
                                </label>
                            </div>
                        </li>
                    </ul>
                    <div class="filter-card">
                        <div class="media">
                            <div class="icon-filter">
                                
                            </div>
                            {% for job in jobs %}
                                <div class="media-body">
                                <a href="{{ path('joblistingshow', { id: job.id }) }}">
                                    <div class="auth_w">
                                        <div class="author-dt">
                                            <h3>{{ job.title }}</h3>
                                            <p>{{ job.comapnyName }}</p>
                                            <ul>
                                                <li><img alt="" src="images/pin.svg">
                                                    <span>
                                                        {{ job.location }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="sav-link">
                                            <span>SAVED:</span>
                                            {{ job.dateSaved|ago }}</div>
                                    </div>
                                    <p>{{ job.description|truncate(250) }}
                                    </p>
                                    </a>
                                    <div class="footer-card">
                                        <a href="{{ job.uri }}" class="uri btn btn-search" target="_blank">Apply On Website</a>
                                    </div>
                                    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Status
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="{{ path('appliedaction', { id: job.id }) }}">Apply</a></li>
      <li><a href="{{ path('followupaction', { id: job.id }) }}">Follow Up</a></li>
      <li><a href="{{ path('interviewaction', { id: job.id }) }}">Interview</a></li>
      <li><a href="{{ path('postinterviewaction', { id: job.id }) }}">Post Interview Follow Up</a></li>
    </ul>
  </div>
                                    <div>
                                            <hr style="height:2px;border:none;color:#333;background-color:#333;" width="100px">
                                            </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="add-jobs" class="modal fade" id="add-jobs" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>
                                    ADD JOB</h4>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true"><img alt="" src="images/close2.svg"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-2">
                                        <h4>Title</h4>
                                    </div>
                                    <div class="col-md-10">
                                        <input class="form-control b3" id="title" type="text">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-2">
                                        <h4>@</h4>
                                    </div>
                                    <div class="col-md-10">
                                        <input class="form-control b4" placeholder="Merrill Lynch" type="text">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-2">
                                        <h4>Location:</h4>
                                    </div>
                                    <div class="col-md-10">
                                        <input class="form-control b7" placeholder="New York" type="text">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-2">
                                        <h4>Status:</h4>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="relative status">
                                            <select class="form-control " id="" name="">
                                                <option value="">Status</option>
                                            </select>
                                            <i class="t-f r-0"><img alt="" src="images/select.svg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                                <button class="btn btn-primary" type="button">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        $("#submitBtn").click("submit", function (e) {
            e.preventDefault();
            var email = $("#emailId").val();
            $.ajax({
                url: "{{ path('scrapedataindex') }}",
                type: 'POST',
                data: {
                    email: email
                },
                success: function (res) {
                    $("#jobs_save_description").html(res.description);
                    $("#jobs_save_title").html(res.title);
                    $("#jobs_save_comapnyName").html(res.company);
                    $("#jobs_save_location").html(res.location);
                    $("#jobs_save_uri").html(res.uri);
                    console.log(res.location);
                    


                }
            });
        });
    </script>
{% endblock %}
