{% extends 'base.html.twig' %}
{% block body %}
    <div class="saved-jobs">
        <div
            class="wrapper">
            <!-- Sidebar  -->
            <nav class="sidebar">
                <button class="btn close-btn sidebarCollapse">
                    <i class="fas fa-times"></i>
                </button>
                <div class="sidebar-header text-center">
                     <a href="/dashboard"><img alt="" src="{{ asset('images/logo.svg') }}"></a>
                </div>
                <ul class="list-unstyled components">
                    <li>
                        <a href="/dashboard">My Dashboard</a>
                    </li>
                    <li>
                        <a aria-expanded="true" data-toggle="collapse" href="#pageSubmenu">Job search</a>
                        <ul class="collapse list-unstyled show" id="pageSubmenu">
                            <li>
                                <a href="{{ path('jobsitestosearch') }}">Job Sites to Search</a>
                            </li>
                            <li class="active">
                                <a href="{{ path('savedappliedjobs') }}">Saved/Applied Jobs</a>
                            </li>
                            
                            <li>
                                <a href="{{ path('savedsearches') }}">Saved Searches</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a aria-expanded="false" data-toggle="collapse" href="#pageSubmenu1">My Documents</a>
                        <ul class="collapse list-unstyled " id="pageSubmenu1">
                            <li>
                                <a href="/documents">Curriculum Vitae</a>
                            </li>
                            <li>
                                <a href="/coverletter">Cover Letter</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('mytask') }}">My Tasks</a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">LogOut</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div class="content">
                <nav class="dashboard-nav navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-info sidebarCollapse">
                                <i class="fas fa-bars"></i>
                            </button>
                            <ul class="sidetop ml-auto">
                                <li class="active">
                                    <a href="#">HELP</a>
                                </li>
                                <li>
                                    <a href="{{ path('accountinfo') }}">SETTINGS</a>
                                </li>
                                <li>
                                   <div class="avtar"><img src="{{ asset('images/avatar.png') }}" alt=""></div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <ul class="links_search">
                    <li>
                        <a href="/jobsitestosearch">Job Sites to Search</a>
                    </li>
                    <li class="active">
                        <a href="/savedappliedjobs">Saved/Applied Jobs</a>
                    </li>
                    
                    <li>
                        <a href="/savedsearches">Saved Searches</a>
                    </li>
                </ul>
                <div class="serch-wrapper ">
                    <form class="s-link ">
                        <div class="row align-items-center no-gutters">
                            <div class="col-xl-2">
                                <label for="">Add new Job</label>
                            </div>
                            <div class="col-xl-8">
                                <input class="form-control" id="emailId" placeholder="www.linkedin.com/job/merrilllynch/010" type="text">
                            </div>
                            <div class="col-xl-2">
                                <div class="relative">
                                    <select class="form-control" id="" name="">
                                        <option value="">Saved</option>
                                    </select>
                                    <i class="t-f r-0"><img alt="" src="{{ asset('images/select.svg') }}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-search" data-target="#add-jobs" data-toggle="modal" id="submitBtn">Add Job
                            </button>
                        </div>
                    </form>
                    <br>

                    <div class="container-fluid">
                        <ul class="dashboard-review">
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        <a href="{{ path('savedappliedjobs', {'variable': 'all'}) }}">{{ alljobscount }}</a>
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="{{ asset('images/dots.svg') }}">
                                    </span>
                                </div>
                                <h3>All Jobs</h3>
                            </li>
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        <a href="{{ path('savedappliedjobs', {'variable': 'saved'}) }}">{{ savedjobscount }}</a>
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="{{ asset('images/dots.svg') }}">
                                    </span>
                                </div>
                                <h3>Saved Jobs</h3>
                            </li>
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        <a href="{{ path('savedappliedjobs', {'variable': 'applied'}) }}">{{ appliedjobscount }}</a>
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="{{ asset('images/dots.svg') }}">
                                    </span>
                                </div>
                                <h3>Applied</h3>
                            </li>
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        <a href="{{ path('savedappliedjobs', {'variable': 'follow up'}) }}">{{ followupjobscount }}</a>
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="{{ asset('images/dots.svg') }}">
                                    </span>
                                </div>
                                <h3>Follow-up</h3>
                            </li>
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        <a href="{{ path('savedappliedjobs', {'variable': 'interview'}) }}">{{ interviewjobscount }}</a>
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="{{ asset('images/dots.svg') }}">
                                    </span>
                                </div>
                                <h3>Interviews</h3>
                            </li>
                            <li>
                                <div class="c1">
                                    <div class="counter">
                                        <a href="{{ path('savedappliedjobs', {'variable': 'post interview follow up'}) }}">{{ postinterviewjobscount }}</a>
                                    </div>
                                    <span class="img-dots">
                                        <img alt="" src="{{ asset('images/dots.svg') }}">
                                    </span>
                                </div>
                                <h3>Post Interview Follow-up</h3>
                            </li>
                        </ul>
                    </div>

                    <br>


                    <div class="filter-card">
                        {% for job in jobs %}
                            <div class="media">
                            {% if job.isSaved %} <div class="icon-filter"><img alt="" src="{{ asset('images/fav2.svg') }}"></div> {% elseif job.isApplied %}<div class="icon-filter"><img alt="" src="{{ asset('images/check-c.svg') }}"></div> {% else %}<div class="icon-filter noicon"></div>{% endif %}
                               

                                <div class="media-body">
                                    
                                        <div class="auth_w">
                                            <div class="author-dt">
                                             <a href="{{ job.uri }}" target="blank">   <h3>{{ job.title }}</h3></a>
                                                
                                                <p>{{ job.comapnyName }}</p>
              <ul>
                <li> <span> {{ job.location }}</span></li>
                                                </ul>
                                            </div>

                                            {% if job.isSaved %}
                                                <div class="sav-link">
                                                    <p>
                                                        <span>SAVED:</span>
                                                        {{ job.dateSaved|ago }}</p>
                                                </div>
                                            </div>
                                        {% elseif job.isApplied %}
                                            <div class="sav-link">
                                                <p>
                                                    <span>Applied:</span>
                                                    {{ job.dateApplied|ago }}</p>
                                            </div>
                                        </div>
                                    {% elseif job.isInterview %}
                                        <div class="sav-link">
                                            <p>
                                                <span>Interview:</span>
                                                {{ job.dateInterview|ago }}</p>
                                        </div>
                                    </div>
                                {% elseif job.isFollowUp %}
                                    <div class="sav-link">
                                        <p>
                                            <span>Follow Up:</span>
                                            {{ job.dateInitialFollowUp|ago }}</p>
                                    </div>
                                </div>
                            {% elseif job.isPostInterviewFollowUp %}
                                <div class="sav-link">
                                    <p>
                                        <span>Post Interview Folow Up:</span>
                                        {{ job.dateFollowUp|ago }}</p>
                                </div>
                            </div>
                        {% endif %}

                       <a href="{{ path('joblistingshow', { id: job.id }) }}"> <p>{{ job.description|truncate(250) }}
                        </p></a>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="footer-card">
                                   {% if job.isSaved %}<a href="{{ job.uri }}" class="uri btn btn-search" target="_blank">Apply On Website</a>{% elseif job.isApplied %}<a href="{{ job.uri }}" class="uri btn btn-search" target="_blank">View on website</a>{% else %}<a href="{{ job.uri }}" class="uri btn btn-search" target="_blank">View on website</a>{% endif %}
                                </div>
                            </div>
                            {# <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Status
                                                            <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                              <li><a href="{{ path('appliedaction', { id: job.id }) }}">Apply</a></li>
                                                              <li><a href="{{ path('followupaction', { id: job.id }) }}">Follow Up</a></li>
                                                              <li><a href="{{ path('interviewaction', { id: job.id }) }}">Interview</a></li>
                                                              <li><a href="{{ path('postinterviewaction', { id: job.id }) }}">Post Interview Follow Up</a></li>
                                                            </ul>
                                                          </div> #}

                            <div class="col-6">
                                <br>

                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="p-3 bd-highlight change-status">
                                        Change status:</div>
                                    <div class="p-1 bd-highlight">


                                        <div class="relative">

                                            <select class="form-control" id="" name="" onchange="location = this.value;" style="
                                                                                                                                                                                  border: none;
                                                                                                                                                                                  border-radius: 0;
                                                                                                                                                                                  padding: 0;
                                                                                                                                                                                  background-color: transparent;
                                                                                                                                                                                  box-shadow: none;
                                                                                                                                                                                  border-bottom: 2px solid #1e9af2 !important;
                                                                                                                                                                                  width: 92%;

                                                                                                                                                                              ">

                                                <option value="/appliedaction"></option>
                                                <option value="{{ path('appliedaction', { id: job.id }) }}">Apply</option>
                                                <option value="{{ path('followupaction', { id: job.id }) }}">Follow Up</option>
                                                <option value="{{ path('interviewaction', { id: job.id }) }}">Interview</option>
                                                <option value="{{ path('postinterviewaction', { id: job.id }) }}">Post Interview Follow Up</option>
                                            </select>
                                            <i class="t-f r-0"><img alt="" src="{{ asset('images/select.svg') }}"></i>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>


<!-- Modal -->
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="add-jobs" class="modal fade" id="add-jobs" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4>
                    ADD JOB</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><img alt="" src="images/close2.svg"></span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="form-row">

                    <div class="col-md-12">
                        <div align="center" class='loadingmessage' style='display:none'>
                            <img src="{{ asset('images/loader.gif') }}"/>
                        </div>
                        {{ form_label(form.comapnyName, 'Title', {'attr': {'class': 'modal-form'}}) }}
                        {{ form_widget(form.title, {'attr': {'class': 'form-control b3'}}) }}
                    </div>
                </div>
                <div class="form-row">

                    <div class="col-md-12">
                        <div align="center" class='loadingmessage' style='display:none'>
                            <img src="{{ asset('images/loader.gif') }}"/>
                        </div>
                        {{ form_label(form.comapnyName, 'Company Name', {'attr': {'class': 'modal-form'}}) }}
                        {{ form_widget(form.comapnyName, {'attr': {'class': 'form-control b4'}}) }}
                    </div>
                </div>
                <div class="form-row">

                    <div class="col-md-12">
                        <div align="center" class='loadingmessage' style='display:none'>
                            <img src="{{ asset('images/loader.gif') }}"/>
                        </div>
                        {{ form_label(form.comapnyName, 'Location', {'attr': {'class': 'modal-form'}}) }}
                        {{ form_widget(form.location, {'attr': {'class': 'form-control b4'}}) }}
                    </div>
                </div>
                <div class="form-row">

                    <div class="col-md-12">
                        <div align="center" class='loadingmessage' style='display:none'>
                            <img src="{{ asset('images/loader.gif') }}"/>
                        </div>
                        {{ form_label(form.comapnyName, 'Description', {'attr': {'class': 'modal-form'}}) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control b4'}}) }}
                    </div>
                </div>
                <div class="form-row">

                    <div class="col-md-12">
                        <div align="center" class='loadingmessage' style='display:none'>
                            <img src="{{ asset('images/loader.gif') }}"/>
                        </div>
                        {{ form_label(form.comapnyName, 'URL', {'attr': {'class': 'modal-form'}}) }}
                        {{ form_widget(form.uri, {'attr': {'class': 'form-control b7'}}) }}
                    </div>
                </div>

            </div>
            {{ form_row(form._token) }}
            <div class="modal-footer justify-content-center">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                <button class="btn btn-primary">Save
                </button>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div></div></div></div></div><script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script>$("#submitBtn").click("submit", function (e) {
    e.preventDefault();
    var modal = $("#add-jobs");
    modal.find('.loadingmessage').show();
    var email = $("#emailId").val();
    $.ajax({
        url: "{{ path('scrapedataindex') }}",
        type: 'POST',
        data: {
            email: email
        },
        success: function (res) {
            modal.find('.loadingmessage').hide();
            modal.find('#jobs_save_title').html(res.title);
            modal.find('#jobs_save_comapnyName').html(res.company);
            modal.find('#jobs_save_location').html(res.location);
            modal.find('#jobs_save_description').html(res.description);
            modal.find('#jobs_save_uri').html(res.uri);


        },
        error: function () {
            modal.find('.loadingmessage').html(" Enter information manually");


        }
    });
});</script>{# setTimeout(function(){
           location.reload(true);
        }, 2000); #}{% endblock %}
